/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 18px;
  background: url(/images/minecrab-background-tile.svg) repeat-x 0 0;
}

.command-line .container {
  padding-left: 0;
  padding-right: 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

a {
    color: #FF6600;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #FF6600;
    font-weight: bold;
    text-decoration: underline;
}

.jumbotron {
  position: relative;
  background: none;
  padding: 15px 5px 5px 5px;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 200;
  line-height: 2.1428571435;
}

.minecrab-get-started-image {
    padding-left: 10%;
    padding-top: 20px;
}

@media (min-width: 768px) {
  .jumbotron {
    height: 220px;
  }
}

@media (min-width: 992px) {
  .jumbotron {
    height: 290px;
  }
}

@media (min-width: 1200px) {
  .jumbotron {
    height: 350px;
  }
}

h3 {
    font-size: 35px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.row.get-started-row {
  background: white;
}

.row.get-started-row .container {
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
}

.col-sm-6.what-is-minecrab {
    font-size: 25px;
}

.minecrab-get-started-image {
    padding-top: 30px;
    padding-left: 10%;
}

#how-it-works {
    margin: 20px;
}

.col-sm-6.benefits-of-minecrab ul {
    list-style-image: url('../images/minecrab-list-point.png');
}

.separator {
    background-image: url('../images/separator.png');
    height: 21px;
}

.row.command-line {
    padding: 20px;
}

.view-from-command-line pre {
    padding-right: 10px;
    padding-left: 10px;
    color: lightgray;
    background-color: #404040;
    margin-right: 20px;
    margin-left: 20px;
}

hr {
  border: none;
  background: url(/images/separator.svg) repeat-x 0 0;
  height: 21px;
}
