/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
a.anchor{display: block; position: relative; top: -50px; visibility: hidden;}
.jumbotron {
  position: relative;
  background: none;
  padding: 5px;
  height: 150px;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 200;
  line-height: 2.1428571435;
}
.jumbotron:after {
  content:"";
  background: url("../images/top-graphic.png");
/* background: url("../images/minecrab-background-tile.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  opacity: 1.0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .jumbotron {
    height: 220px;
  }
  .jumbotron:after {
    background-size: 90%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .jumbotron {
    height: 290px;
  }
  .jumbotron:after {
    background-size: 97%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .jumbotron {
    height: 350px;
  }
  .jumbotron:after {
    background-size: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
