
@import url(http://fonts.googleapis.com/css?family=Megrim&text=Mminecraft);
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html {
  background-image: url("bg.png");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
}

.glass {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 180px;
}

.glass::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
}

.glass .legacy-ie-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
}

.glass h1 {
  position: relative;
  margin: 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.3);
  font-size: 180px;
  font-weight: normal;
  font-family: "Megrim", sans-serif;
  line-height: 1;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}

.games {
  position: relative;
}
.games ul {
  margin: 0px;
  padding: 0px;
}
.games ul li {
  position: relative;
  margin-top: 10px;
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 250px;
}
.games li div {
  position: relative;
  margin: 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: normal;
  font-family: "Antic Slab", sans-serif;
  line-height: 1;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
.games div.map {
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  left: -60px;
  top: 0;
  height: 90%;
}
.games div.title {
  font-size: 34px;
}

@media only screen {
  .glass h1 {
    -ms-filter: "none";
  }
}
