html {
    background-color: white;
}

body {
    margin: 0;
    font-family: "Helvetica", Roman, serif;
}

.clear-floats {
    clear: both;
}

.page {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.header {
    background-image: url('header.png');
    height: 174px;
}

.header-image {
    float: left;
    padding-top: 22;
    padding-left: 80;
}

#header-name {
    float: left;
    font-size: 55px;
    padding-top: 93px;
    padding-left: 5px;
}

#http://stackoverflow.com/questions/266015/css-floats-how-do-i-keep-them-on-one-line
.middle {
    white-space: nowrap;
    min-width:100px;
    width: auto !important;
    width: 100px;
}

.worlds {
    display:inline-block;
    float: left;
    width: 75%;
    padding: 20px;
    margin-top: 15px;
}

hr {
    background-color: lightgray;
    height: 1;
    border: 0;
}

.world-status-image {
    float: left;
    padding: 15px;
}

.world-details {
    float: left;
    padding: 15px;
}

.world-map-thumbnail {
    float: right;
    padding: 15px;
}

.world-map-thumbnail p {
    margin: 0px;
}

.world-detail-bold {
    font-weight: bold;
    font-size: 22px;
}

.world-detail-orange {
    font-weight: bold;
    font-size: 22px;
    color: #FF6600;
}

.world-detail {
    font-size: 18px;
}

.world-detail-minecraft-version {
    font-size: 12px;
}

.right-box {
    display:inline-block;
    float: right;
    background-color: #F5F5F5;
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
    width: 15%;
    margin-right: 30px;
}

.right-box a {
    color: #FF6600;
    font-weight: bold;
    text-decoration:none;
}

.copyright-text p {
    color: #969696;
    font-size: 12;
}

.copyright-text {
    float: left;
    padding: 20px;
    padding-left: 40px;
}

.joyent-logo {
    float: right;
    padding: 20px;
    padding-right: 40px;
}

.footer-separator {
    height: 30px;
}

.footer {
    background-color: #2B2B2B;
}

